@model IEnumerable<DFUNK.Models.Payments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
    if (ViewBag.ShowAll)
    {
        <p>
            @Html.ActionLink("Show All", "Index")
        </p>
    }
}
<p>
    @ViewBag.totalAmount
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.name)
        </th>
        <th>
            @Html.DisplayName("Payment Method")
            @*@Html.DisplayNameFor(model => model.PaymentMethod.name)*@
        </th>
        <th>
            @Html.DisplayName("Project")
            @*@Html.DisplayNameFor(model => model.Projects.name)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Index", "Payments", new { contact_id = item.contact_id })">
                <span class="donor">
                @Html.DisplayFor(modelItem => item.Contact.name)
                @Html.DisplayFor(modelItem => item.Contact.surname)</span>
            </a>
            @*@Html.DisplayFor(modelItem => item.Contact.name)
            @Html.DisplayFor(modelItem => item.Contact.surname)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projects.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.payment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.payment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.payment_id })
        </td>
    </tr>
}
</table>