@model DFUNK.Models.Events

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd>
            @using (Html.BeginForm("RemoveProject", "Events", FormMethod.Post))
            {
                @*@Html.DisplayName("Companies:")
                @Html.DropDownList("MembersOrCompanies", new SelectList(
        new List<Object>{
                       new { value = 1 , text = "Members"  },
                       new { value = 2 , text = "Companies" }
        },
        "value",
        "text",
        0))*@
                @Html.DropDownListFor(model => model.Projects, new SelectList(Model.Projects.ToList(), "project_id", "name"))
                @Html.HiddenFor(model => model.event_id, new { id = Model.event_id })

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Remove" />
                </div>
            }            
        </dd>
        <dt>
            @Html.DisplayName("Add Project")
        </dt>
        <dd>
            @using (Html.BeginForm("AddProject", "Events", FormMethod.Post))
            {
                
                DFUNK.Models.DFUNK db = new DFUNK.Models.DFUNK();
                @Html.DropDownListFor(model => model.Projects, new SelectList(db.Projects.ToList().Where(p => !Model.Projects.ToList().Any(p2 => p2.project_id == p.project_id)), "project_id", "name"))
                @Html.HiddenFor(model => model.event_id, new { id = Model.event_id })

                <div class="col-md-offset-2 col-md-10">
                    <input type = "submit" class="btn btn-default" value="Add" />
                </div>
            }
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.event_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
